/SampleJSPApp/target/
/JSTLELApp/target/
/WebSocketApp/target/
/SampleEJBApp/target/
/TestStates/target/
/AccessibilityApp/target/
/RemoteWebClientApp/target/
/EJBModule/target/
/CompleteShoppingCart/CompleteShoppingCart-ejb/build/
/CompleteShoppingCart/CompleteShoppingCart-ejb/dist/
/CompleteShoppingCart/CompleteShoppingCart-ejb/nbproject/private/
/CompleteShoppingCart/CompleteShoppingCart-war/build/
/CompleteShoppingCart/CompleteShoppingCart-war/dist/
/CompleteShoppingCart/CompleteShoppingCart-war/nbproject/private/
/CompleteShoppingCart/build/
/CompleteShoppingCart/dist/
/CompleteShoppingCart/nbproject/private/
/MessageModule/nbproject/private/
/MessageModule/dist/
/MessageModule/build/
/MessageClientApp/target/
/EJBProject/target/
/MessagingWebApp/target/
/NewEJBModule/target/
/MsgRecieverWebApp/target/
/SingletonApp/target/
/TestJPAApp/target/
/JPAApp/nbproject/private/
/MyJPAApp/target/
/JPACommandApp/target/
/PublishingApp/target/
/SampleSOAPApp/nbproject/private/
/SampleSOAPApp/build/
/SampleSOAPApp/dist/
/SampleRestApp/target/
