/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 06-Apr-2023, 1:54:46 PM
    Author     : root
*/
.firstColumn1 {
       width: 100px;
  }
  .secondColumn2 {
       width: 100px;
  }
  .thirdColumn3 { 
       width: 100px;
  }
  .fourthColumn4 { 
       width: 100px;
  }
